<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Build Your Resume Here!</h5>
                    <p>
                        <strong>First and Last Name</strong></p>
                    <textarea id="username" rows="1" cols="40"></textarea>
                   
<p>
                        <strong>Email Address</strong></p>
                    <textarea id="email" rows="1" cols="40"></textarea>

                    <p>
                        <strong>Phone Number</strong></p>
                    <textarea id="phone" rows="1" cols="40"></textarea>

                    <p>
                        <strong>Go Ahead and Brag (What sets you apart|Personality|Interests)</strong></p>
                    <textarea id="summary" rows="8" cols="80"></textarea>
                    <p>
                        <strong>Education History</strong></p>
                    <textarea id="education" rows="8" cols="80"></textarea>
                    <p>
                        <strong>Employment History</strong></p>
                    <textarea id="employment" rows="8" cols="80"></textarea>
                    <p>

                     <p>
                        <strong>Skills</strong></p>
                    <textarea id="skills" rows="8" cols="80"></textarea>
                    <p>

                        <strong>References</strong></p>
                    <textarea id="refs" rows="8" cols="80"></textarea>
                    
                    <button id="build" class="please-work">Build Resume!</button>
                    <button id="send-email" class="btn btn-primary float-right">Send Email</button> 
                    <a href="/">← Back To Home</a>
                </div>
            </div>
        </div>
    </div>
     <div class="row">
        <div class = "col-8 offset-2">
            <div class="card mt-4">
                <p><strong>Already have a Resume Stored?  Search for it by your name!</strong></p>
                <textarea id="res-name" rows="1" cols="30"></textarea>
                 
                <button id = "search-res">Search for Resume</button>
                <div id="displaySaved" class = "card-body">

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class = "col-8 offset-2">
            <div class="card mt-4">
                <div id="display" class = "card-body">

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>